@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}


html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
  
}

/* ScrollBar Starts */
html::-webkit-scrollbar{
  width:1.5rem;
}

html::-webkit-scrollbar-track{
  background:#333;
}

html::-webkit-scrollbar-thumb{
  background: #BE0000;
}
/* ScrollBar Ends */


a {
  text-decoration: none;
  font-size: 1.5rem;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

p {
  color: black;
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}

.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

.section-title span {
  color: crimson;
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  color: white;
  background-color: transparent;
  border: 2px solid crimson;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.3s ease;
  transition-property: background-color, color;
}

.cta:hover {
  color: white;
  background-color: crimson;
}

.brand h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}

.brand h1 span {
  color: crimson;
}

/* Header section */
#header {
  cursor: default;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}

#header .header {
  min-height: 8vh;
  background-color: rgba(31, 30, 30, 0.24);
  transition: 0.3s ease background-color;
}

#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}

#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: rgb(31, 30, 30);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s ease left;
}

#header .nav-list ul.active {
  left: 0%;
}

#header .nav-list ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}

#header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 13rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: 0.3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}

#header .nav-list ul li:hover a {
  color: crimson;
}

#header .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px;
}

#header .hamburger:after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
  animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: 0.3s ease;
  transition-property: top, bottom;
}

#header .hamburger .bar::after {
  top: 8px;
}

#header .hamburger .bar::before {
  bottom: 8px;
}

#header .hamburger.active .bar::before {
  bottom: 0;
}

#header .hamburger.active .bar::after {
  top: 0;
}

/* End Header section */



/* home Section */
#home {
  background-image: url(./img/banner2.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}

#home::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}

#home .home {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}

#home h1 {
  display: block;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: transparent;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1s;
}

#home h1:nth-child(1) {
  animation-delay: 1s;
}

#home h1:nth-child(2) {
  animation: text_reveal_name 0.5s ease forwards;
  animation-delay: 2s;
}

#home h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: crimson;
  animation: text_reveal_box 1s ease;
  animation-delay: 0.5s;
}

#home h1:nth-child(1) span {
  animation-delay: 0.5s;
}

#home h1:nth-child(2) span {
  animation-delay: 1.5s;
}

/* End home Section */



/* get Section */
#get .services {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}

#get .service-top {
  max-width: 500px;
  margin: 0 auto;
}

#get .service-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

#get .service-item {
  height: 20em;
  flex-basis: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background-image: url(./img/img-11.jpg);
  background-size: cover;
  margin: 10px 5%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#get .service-item::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);  /* #29323c */
  opacity: 0.9;
  z-index: -1;
}

/* crimson - #dc143c
background color - #29323c */

#get .service-bottom .icon {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}

#get .service-item h2 {
  font-size: 2rem;
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#get .service-item p {
  color: white;
  text-align: left;
}
/* End get Section */



/* Courses section */

/* ask doubt starts */

.doubt_card {
  padding-top: 60px;
  margin: 0;
  /* height: 10vh; */
  display: flex;
  align-items: center;
}
.doubt_card .dcard {
  margin: 20px auto;
  max-width: 300px;
  border-radius: 10px;
  overflow: hidden;
  background-image: url(/img/doubt_banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  /* box-shadow: 0 0 15px #dc143c; */
}
.doubt_card .dcard {
  padding: 10px 0 0 0;
}
.doubt_card .dcard {
  /* filter: drop-shadow(0px -5px 25px #29323c); */
  transform: scale(1.15);
}
.doubt_card .dcard .infos {
  padding: 30px 35px;
  text-align: center;
}

.doubt_card .dcard .infos ,
.doubt_card .dcard .infos {
  color: hsl(0, 98%, 49%);
}
.doubt_card .dcard .infos {
  font-size: 1rem;
}
.doubt_card .dcard .infos {
  margin: 150px 0 15px 0;
  font-size: 2rem;
}
.doubt_card .dcard .infos .dbtn {
  font-family: "Radio Canada", sans-serif;
  padding: 0.8rem 0.6rem;
  border-radius: 50px;
  border: 1px solid #f2f2f2;
  font-size: 1.2rem;
  font-weight: 300;
  min-width: 110px;
  cursor: pointer;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #f2f2f2;
  transition: all 0.2s ease-in;
}

.dbtn {
  padding-top: 50px;
  padding-left: 450px;
}

.doubt_card .dcard .infos .dbtn:hover {
  background-color: transparent;
  color: #4b048d;
  box-shadow: none;
}

@media screen and (min-width: 700px) {
  .doubt_card .dcard {
    display: flex;
    align-items: center;
    min-width: 550px;
    padding: 15px 20px;
  }
  .doubt_card .dcard {
    padding-top: 0;
    width: 60%;
  }
}


@media (width <= 700px) {
  .doubt_card .dcard {
    background-image: url(/img/doubt_bannerp.png);
  }
  .dcard {
    margin-top: 60px;
  }
}

/* ask doubt ends */

/* course ribbon start  */
.ribbonbox {
  position: relative;
  padding: 2px;
  margin: 30px;
  border-top: 1px solid #dc143c;
  border-bottom: 1px solid #dc143c;
  height: 140px;
}
.ribbonbox .ttl-ribbonbox {
  position: absolute;
  top: -40px;
  left: 0;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding: 0 20px;
  font-size: 18px;
  background: #29323c;
  color: #ffffff;
  box-sizing: border-box;
  transform: rotate(-6deg);
}
.ribbonbox .ttl-ribbonbox::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  z-index: 1;
  top: 0;
  right: -20px;
  border-width: 20px 15px 20px 20px;
  border-color: #29323c transparent #29323c #29323c;
  border-style: solid;
}

/* course ribbon ends  */

/* *********************************** */

/* enroll now button starts */
.enroll_btn {
  position: relative;
  display: inline-block;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  width: 20rem;
  background-color: #29323c;
  color: #FFFFFF;
}

.enroll_btn::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: #dc143c; */
  color: #ffffff;
  display: grid;
  place-items: center;
  transform: translateX(-100%);
  transition: transform 0.5s;
}

.enroll_btn:hover::before {
  transform: none;
  background-color: #dc143c;
}

.enroll_btn span {
  display: inline-block;
  padding: 1.2rem 2.2rem;
  transition: transform 0.5s;
}

.enroll_btn:hover span {
  transform: translateX(120%);
}

/* enroll now button ends */


*,
*::before,
*::after {
  box-sizing: border-box ;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 30px;
  padding: 0;
}

.cards_item {
  display: flex;
  /* flex-basis: 25%;
  flex-grow: 2; */
  padding: 1rem;
}

.card_image {
  position: relative;
  max-height: 250px;
}

.card_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card_price {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 45px;
  border-radius: 0.25rem;
  background-color: #dc143c;
  font-size: 18px;
  font-weight: 700;
  color: #FFFFFF;
}

.card_price span {
  font-size: 12px;
  margin-top: -2px;
}

.note {
  position: absolute;
  top: 8px;
  left: 8px;
  padding: 4px 8px;
  border-radius: 0.25rem;
  background-color: #dc143c  ;
  font-size: 14px;
  color: #FFFFFF;
  font-weight: 700;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;

}

.card_content {
  position: relative;
  padding: 16px 12px 32px 24px;
  margin: 16px 8px 8px 0;
  max-height: 290px;
  overflow-y: hidden;
}

/* .card_content::-webkit-scrollbar {
  width: 8px;
}

.card_content::-webkit-scrollbar-track {
  box-shadow: 0;
  border-radius: 0;
}

.card_content::-webkit-scrollbar-thumb {
  background: #dc143c
  ;
  border-radius: 15px;
} */

.card_title {
  position: relative;
  margin: 0px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.card_title::after {
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  /* background-color: #c89b3f; */
  content: "";
}

hr {
  margin: 15px auto;
  width: 50px;
  border-top: 2px solid #c89b3f;
}

.card_text p {
  margin: 0 0 24px;
  font-size: 14px;
  line-height: 1.5;
}

.card_text p:last-child {
  margin: 0;
}




/* End Courses section */



/* About Section */
#about .about {
  flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: auto 20px;
}

#about .col-left {
  width: 250px;
  height: 360px;
}

#about .col-right {
  width: 100%;
}

#about .col-right h2 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
}

#about .col-right p {
  margin-bottom: 20px;
}

#about .col-right .cta {
  color: black;
  margin-bottom: 50px;
  padding: 10px 20px;
  font-size: 2rem;
}

#about .col-left .about-img {
  height: 120%;
  width: 100%;
  position: relative;
  border: 10px solid white;
}

#about .col-left .about-img::after {
  content: '';
  position: absolute;
  left: -33px;
  top: 19px;
  height: 98%;
  width: 98%;
  border: 7px solid crimson;
  z-index: -1;
}

.link3 a {
  color: #343139;
  text-decoration: none;
  border-bottom: .165em solid #E99497;
  box-shadow: inset 0 -0.125em 0 #E99497;
  transition: box-shadow 270ms cubic-bezier(0.77, 0, 0.175, 1), color 270ms cubic-bezier(0.77, 0, 0.175, 1);
}

.link3 a:hover {
  box-shadow: inset 0 -1.125em 0 #E99497;
  color: #000;
}

.link3 a:focus {
  background: #fff;
  outline: none;
  background: #E99497;
  color: #fff;
  box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.2);
}

.about_separator{
  display:flex;
  align-items: center;
}

.about_separator .line{
  height: 1.7px;
  flex: 1;
  background-color: #205375;
}

.about_separator h2{
  padding: 0 1.6rem;
}
/* End About Section */

/* ****************************************** */

 /* review Section Starts */
 
 *{
     box-sizing: border-box;
     text-decoration: none;
     outline: none; border:none;
     transition: all .2s linear;
 }
 
 html{
     font-size: 62.5%;
     overflow-x: hidden;
     scroll-padding-top: 5.5rem;
     scroll-behavior: smooth;
 }
 
 #review{
     padding:2rem 9%;
     background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
 }
 
 .heading{
font-family: 'Lobster Two', cursive;
 font-size: 4.5rem;
 padding-top: 5rem;
 margin: 2rem 0;
 color: #F8F8F8;
 text-align: center;
 position: relative;
 }

 .heading::after {
  content: '';
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: .3rem;
  width: 20%;
  border-radius: 5rem;
  background: #333;
}

 .heading::after {
  background: crimson;
}

 
 .review .slide{
     /* padding:2rem; */
     /* height: 35rem; */

     box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
     border:.1rem solid rgba(0,0,0,.2);
     border-radius: .5rem;
     position: relative; 
     background-color: #FFFFFF;   
 }
 
 .review .slide .fa-quote-right{
     position: absolute;
     top:2rem; right:2rem;
     font-size: 6rem;
     color:#ccc;
 }
 
 .review .slide .user{
     display: flex;
     gap:1.5rem;
     align-items: center;
     padding-bottom: 1.5rem;
 }
 
 .review .slide .user img{
     height: 7rem;
     width: 7rem;
     border-radius: 50%;
     object-fit: cover;
 }
 
 .review .slide .user h3{
     font-size: 2rem;
     padding-bottom: .5rem;
 }
 
 .review .slide .user i{
     font-size: 1.3rem;
     color:gold;
 }
 
 .review .slide p{
     font-size: 1.5rem;
     line-height: 1.8;
 }
 
 /* review Section Ends  */

 

/* Feedback Section Starts */

.feedback {
  background-color: #142F43;
  padding: 70px;
  /* padding-top: 5em; */
  
}

.fbutton_container {
	position: relative;
  left: 0;
  right: 0;
  top: 30%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}

.description, .link {
  font-family: 'Amatic SC', cursive;
  text-align: center;
}

.description {
	font-size: 35px;
}

.link {
  font-size: 20px;
  margin-top: 30px;
}

.link a {
  color: #000;
  font-size: 25px; 
}

.ask {
  font-size: 5rem;
  font-family: 'Pompiere', cursive;
}
/* Feedback Section Ends */



.left { text-align: left; }

.bx {
  margin: 1em auto; padding: 1em 2em;
  border: solid 1px #808080; 
  display: inline-block; 
  position: relative; 
  font-size: 18px;  
  max-width: 500px;
}
.bx h2 { font-size: 1.1em; margin: 0.5rem; }
.quoteAuthor { text-align: justify; }


.box-shadowEffect { 
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

.box-shadowEffect::before,
.box-shadowEffect::after {
  content: "";
  position: absolute;
  bottom: 3px; left: 4px; width: 49.0%; height: 20px;
  z-index: -100;
  background: rgb(255, 255, 255);
  transform: rotate(-2deg);
  box-shadow: 0 6px 8px 0 rgba(40,40,40, 1.0);
}
.box-shadowEffect::after { 
  transform: rotate(2deg);
  left: auto; right: 4px;
}

/* contact Section */
#contact .contact {
  flex-direction: column;
  max-width: 1200px;
  margin: -30px auto;
  width: 90%;
  padding-bottom: 6rem;
}

#contact .contact-items {
  /* max-width: 400px; */
  width: 100%;
}

#contact .contact-item {
  width: 80%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 70px 0 #0000002c;
  transition: 0.3s ease box-shadow;
}

#contact .contact-item:hover {
  box-shadow: 0px 0px 15px 0 #0000002c;
}

#contact .icon {
  width: 70px;
  margin: 0 auto;
  margin-bottom: 10px;
}

#contact .contact-info h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 5px;
}

#contact .contact-info h2 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 500;
}

* {
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

.fbtn {
  display: inline-block;
  margin-top: 1rem;
  background: crimson;
  color: #fff;
  padding: .8rem 3rem;
  border: .2rem solid crimson;
  cursor: pointer;
  font-size: 1.7rem;
}

.contact .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}

.contact .row .image {
  flex: 1 1 35rem;
}

.contact .row .image img {
  width: 100%;
}

.contact .row form {
  flex: 1 1 50rem;
  padding: 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
  border-radius: .5rem;
}

.contact .row form .inputBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact .row form .inputBox input, .contact .row form textarea {
  width: 50%;
  margin: 1rem 0;
  padding: 1rem;
  font-size: 1.7rem;
  color: #333;
  background: #f7f7f7;
  text-transform: none;
}

.contact .row form textarea {
  height: 15rem;
  resize: none;
  width: 100%;
}

/* ********************************* */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  padding: 25px;
  text-align: center;
}

.wrapper .icon {
  position: relative;
  background-color: #DDDDDD;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  display: inline-block;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #333;
  text-decoration: none;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  line-height: 1.5;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);  color: #ffffff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background-color: #0077b5;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #00acee;
  color: #ffffff;
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5998;
  color: #ffffff;
}

.wrapper .E-Mail:hover,
.wrapper .E-Mail:hover .tooltip,
.wrapper .E-Mail:hover .tooltip::before {
  background-color: #BB001B;
  color: #ffffff;
}

/* .touchicon {
 width: 100px;
} */
.separator {
  display: flex;
  align-items: center;
}

.separator .line {
  height: 3px;
  flex: 1;
  background-color: #035397;
}

.separator h2 {
  padding: 0 1.5rem;
}

.touch {
  color: #B20600;
  position: relative;
  font-size: 3.5rem;
  font-family: 'Dancing Script', cursive;
}

/* ***************************** */

.price-separator {
  display: flex;
  align-items: center;
}

.price-separator .line {
  height: 3px;
  flex: 1;
  background-color:crimson;
}

.price-separator h2 {
  padding: 0 1.5rem;
}

.price-touch {
  color: #ffff;
  position: relative;
  font-size: 2.5rem;
  font-family: 'Dancing Script', cursive;
}



/*End contact Section */



/* Footer */
#footer {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#footer .footer {
  min-height: 200px;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 3px;
}

#footer h2 {
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

#footer p {
  color: white;
  font-size: 1.3rem;
}
/* End Footer */



/* Keyframes */
@keyframes hamburger_puls {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}

@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal {
  100% {
    color: white;
  }
}

@keyframes text_reveal_name {
  100% {
    color: crimson;
    font-weight: 500;
  }
}
/* End Keyframes */



/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
  .cta {
    font-size: 2.5rem;
    padding: 20px 60px;
  }

  h1.section-title {
    font-size: 6rem;
  }

  /* home */
  #home h1 {
    font-size: 7rem;
  }
  /* End home */

  /* Services Section */









  
  /* ******************************************** */
  #get .service-bottom .service-item {
    flex-basis: 45%;
    margin: 2.5%;
  }
  /* End Services Section */

  /* Courses */
  #Service .Courses-item {
    flex-direction: row;
  }

  #Service .Courses-item:nth-child(even) {
    flex-direction: row-reverse;
  }

  #Service .Courses-item {
    height: 800px;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }

  #compsci {
    height: 1000px;
    margin: 0;
    width: 100%;
    border-radius: 0;

  }

  #Service .all-Courses .Courses-info {
    height: 100%;
  }

  #Service .all-Courses .Courses-img {
    height: 100%;
  }
  /* End Courses */

  /* About */
  #about .about {
    flex-direction: row;
  }

  #about .col-left {
    width: 600px;
    height: 400px;
    padding-left: 60px;
  }

  #about .about .col-left .about-img::after {
    left: -45px;
    top: 34px;
    height: 98%;
    width: 98%;
    border: 10px solid crimson;
  }

  #about .col-right {
    text-align: left;
    padding: 30px;
  }

  #about .col-right h1 {
    text-align: left;
  }
  /* End About */

  /* contact  */
  #contact .contact {
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    min-width: 20vh;
  }

  #contact .contact-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
  }

  #contact .contact-item {
    width: 30%;
    margin: 0;
    flex-direction: row;
  }

  #contact .contact-item .icon {
    height: 30px;
    width: 30px;
  }

  #contact .contact-item .icon img {
    object-fit: contain;
  }

  #contact .contact-item .contact-info {
    width: 100%;
    text-align: center;
    color: #000000;
  }
  /* End contact  */
}

/* End Media Query For Tablet */
/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {

  /* header */
  #header .hamburger {
    display: none;
  }

  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }

  #header .nav-list ul li {
    display: inline-block;
  }

  #header .nav-list ul li a {
    font-size: 1.8rem;
  }

  #header .nav-list ul a:after {
    display: none;
  }

  /* End header */
  #get .service-bottom .service-item {
    flex-basis: 22%;
    margin: 1.5%;
  }
}

/* End  Media Query For Desktop */
.course-btn{
  margin-top: 1rem;
  display: inline-block;
  padding:.9rem 3rem;
  font-size: 1.7rem;
  color:#ffff;
  background:crimson;
  cursor: pointer;
}

.course-btn:hover{
  letter-spacing: .2rem;
}

.tag {
  font-family: Arial, sans-serif;
  margin: 10px;
  font-weight: bold;
  font-size: 24px;
  color: white;
  background-color: #cc1212;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc5MjYiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjEwMCUiIHkyPSIxMDAlIj4KPHN0b3Agc3RvcC1jb2xvcj0iI0NDMTIxMiIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI0EwMDMwMyIgb2Zmc2V0PSIxIi8+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZzkyNikiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(top,#cc1212 0%,#d62304 34%,#a00303 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#cc1212),color-stop(34%,#d62304),color-stop(100%,#a00303));
  background: -webkit-linear-gradient(top,#cc1212 0%,#d62304 34%,#a00303 100%);
  background: -o-linear-gradient(top,#cc1212 0%,#d62304 34%,#a00303 100%);
  background: -ms-linear-gradient(top,#cc1212 0%,#d62304 34%,#a00303 100%);
  background: linear-gradient(to bottom,#cc1212 0%,#d62304 34%,#a00303 100%);
  text-shadow: 0 -1px 1px black;
  padding: 8px 8px 8px 17px;
  display: inline-block;
  border-radius: 6px;
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
  position: relative;
}
.tag:before {
  content: ' ';
  display: block;
  position: absolute;
  height: 12px;
  width: 12px;
  background: white;
  border-radius: 12px;
  box-shadow: inset 1px 1px 2px rgba(0,0,0,0.75);
  left: -5px;
  top: 16px;
  z-index: 22;
}
.tag:after {
  content: ' ';
  display: block;
  position: absolute;
  z-index: 20;
  height: 35px;
  width: 35px;
  border-radius: 6px;
  background-color: #cc1212;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc5MjYiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjEwMCUiIHkyPSIxMDAlIj4KPHN0b3Agc3RvcC1jb2xvcj0iI0NDMTIxMiIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI0EwMDMwMyIgb2Zmc2V0PSIxIi8+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZzkyNikiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(top left,#cc1212 0%,#d62304 34%,#a00303 100%);
  background: -webkit-gradient(linear,top left,bottom right,color-stop(0%,#cc1212),color-stop(34%,#d62304),color-stop(100%,#a00303));
  background: -webkit-linear-gradient(top left,#cc1212 0%,#d62304 34%,#a00303 100%);
  background: -o-linear-gradient(top left,#cc1212 0%,#d62304 34%,#a00303 100%);
  background: -ms-linear-gradient(top left,#cc1212 0%,#d62304 34%,#a00303 100%);
  background: linear-gradient(to bottom right,#cc1212 0%,#d62304 34%,#a00303 100%);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 5px;
  left: -13px;
  box-shadow: 0px 3px 2px -2px rgba(0,0,0,0.75);
}
.tag span {
  position: relative;
  z-index: 25;
}

/* contatct section btn */

.btn {
  display: inline-block;
  margin-top: 1rem;
  background: crimson;
  color: #fff;
  padding: .8rem 3rem;
  border: .2rem solid crimson;
  cursor: pointer;
  font-size: 1.7rem;
}

/* *************************** */

/* FAQ Section */

.faq {
  padding-bottom: 15em;
}

.content {
  width: 80%;
  padding: 0;
  margin: 0 auto;
}

.centerplease {
  margin: 0 auto;
  max-width: 370px;
  font-size: 40px;
  padding-top: 2em;
  padding-bottom: 1em;
}

/*Question*/
.question {
  position: relative;
  background: #EEEEEE;
  margin: 0;
  padding: 10px 10px 10px 50px;
  display: block;
  width:100%;
  cursor: pointer;
  font-size: 2em;
}

/*Answer*/
.answers {
  padding: 0px 15px;
  margin: 5px 0;
  width:100%!important;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  font-size: 1.8em;
}

.questions:checked ~ .answers{
  height: auto;
  opacity: 1;
  padding: 15px;
}

/*FAQ Toggle*/
.plus {
  position: absolute;
  margin-left: 10px;
  z-index: 5;
  font-size: 4em;
  line-height: 100%;
  -webkit-user-select: none;    
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.questions:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.questions {
  display: none;
  padding-bottom: 5em;
}
/*FAQ Toggle Ends*/

